.photo-card {
  width: 300px;
}
.photo-card .card-img-top {
height: 250px;
}
.photo-card .body {
  background-color: #0B3144;
  min-height: 100px;
  height: 100%;
  color: #FFF;
  cursor: pointer
}

.photo-card .body p {
  color: #FFF;
}

.photo-card .body div {
  color: #FFF;
  text-transform: uppercase;
}

.expanded-left {
  position: relative;
  z-index: 9999;
  width: 63vw;
  height: 300px !important;
}

.expanded-center {
  position: relative;
  z-index: 9999;
  width: 63vw;
  height: 300px !important;
}

.expand-card-body{
  position: relative;
  z-index: 9999;
    /* width:100%; */
    animation: expand 3s forwards;
}

@keyframes expand {
  from {
    width: 100%;
 
  }

  to {
   width:305%
  }
  
}