.photo-card-bio{
    background-color: #0B3144;
    color: white;
    padding: 0 ;
    position: relative;
    bottom:124px;
    /* left:7.5%; */
    height:100%;
    /* width:80%; */
    animation: slide-in 3s;

}
.photo-card-bio h2{
    color: #FFF;
    text-transform: uppercase;
    font-family: "DM Sans", sans-serif;
    letter-spacing: normal;
    font-weight: bold;
    font-size:20px;
}

.photo-card-bio .photo-card-description{
    color:#FFF;
     font-family: "DM Sans", sans-serif;
}
.close{
    cursor: pointer;
    margin-left: 20px;
}



@keyframes text-appear {
  from {
    display: none;
 
  }

  to {
    display: block;
  }
  
}