.text-picture-overlap-container {
    height: 400px;
}

.text-picture-overlap-container-mobile {
    height: 100%;
}

.text-picture-overlap-container .gradient-box {
    width: 100%;
    height: 230px;
    background: linear-gradient(to right, var(--primary-blue), var(--primary-gold))
}

.text-picture-overlap-container-mobile .gradient-box {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--primary-blue), var(--primary-gold))
}

.text-picture-overlap-container .text-section, .text-picture-overlap-container-mobile .text-section {
    position: absolute;
    z-index: 2;
    color: var(--white);
    padding: 20px;
}

.text-picture-overlap-container .picture-section {
    z-index: 1;
}

.text-picture-overlap-container h6.text-header, .text-picture-overlap-container-mobile  h6.text-header {
    color: var(--white);
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: 15px;
    padding-top: 20px;
    text-transform: uppercase;
}



.text-picture-overlap-container p, .text-picture-overlap-container-mobile p {
    color: var(--white);
    padding-left: 15px;
    width: 77%;
}

.text-picture-overlap-container .learn-more-link, .text-picture-overlap-container-mobile .learn-more-link {
    margin: 15px 0 15px 15px;
    background-color: var(--white);
    padding: 10px;
    color: var(--primary-blue);
    font-weight: bold;
    text-transform: uppercase;
}

.text-picture-overlap-container .overlap-image {
    position: relative;
    right: 180px;
    top: 70px;

}