@import '../base.css';

#brand-celebrating {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

#brand-celebrating p {
    margin-bottom: 0;
    font-family: 'Nunito', Times, serif;
}

#celebrating {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--primary-gold);
    line-height: 0.5;
}

#years {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-blue);
}

.desktop-nav {
    margin-top: 10px;
}
.navbar-nav .d-none.d-lg-block{
    margin-top: 10px;
}
@media (min-width: 992px) {
    .navbar-expand-lg {
        height: 65px;
    }
}