@import '../base.css';

#brand-celebrating {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

#brand-celebrating p {
    margin-bottom: 0;
    font-family: 'Nunito', Times, serif;
}

#celebrating {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--primary-gold);
    line-height: 0.5;
}

#years {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-blue);
}