:root {
    --primary-blue: #0b3144;
    --primary-gold: #d4af37;
    --white: #fcfcfc;
    --ss-font: "DM Sans", sans-serif;
    --cursive-font: "Kapakana", cursive;
}

.kapakana-cursive {
  font-family: "Kapakana", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.text-blue {
    color: var(--primary-blue);
}

.text-gold {
    color: var(--primary-gold);
}

p,
h1,
h2,
h3,
h4,
h5,
ul {
    font-family: var(--ss-font), sans-serif;
    color: var(--primary-blue);
    margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5 {
    text-transform: uppercase;
    font-weight: bolder;
}

h1 {
    font-size: 3rem;
    line-height: 1.1;
    margin: 0;
    letter-spacing: 3px;
}

h2 {
    font-size: 2rem;
    line-height: 1.1;
    letter-spacing: 3px;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.1;
    letter-spacing: 3px;
}

h4 {
    font-size: 1.2rem;
    line-height: 1.1;
    letter-spacing: 1px;
}

/* this will need some additional work to play nicely with styling from custom.css */
/* h5 {
    font-size: 1rem;
    line-height: 1.1;
    letter-spacing: 1px;
    margin-bottom: unset;
} */

.std-bottom-space {
    margin-bottom: 2rem;
}

.pb-20 {
    padding-bottom: 20px;
}